.AboutMeContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.AboutMeContainer a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.AboutImage {
  width: 30%;
  margin-bottom: 30px;
  margin-top: 75px;
}

.AboutHeader {
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.AboutBio {
  margin-top: 10vh;
  width: 800px;
}

.HomeImage {
  display: block;
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.News {
  width: 70%;
  max-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.headshot {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 75px;
  margin-bottom: 30px;
  width: 70%;
}

.WSScar {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-left: 9%;
}

.WSSpic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
}
